<%= error_messages_for 'item' %>

<!--[form:item]-->
<p><label for="item_code">Code</label><br/>
<%= text_field 'item', 'code'  %></p>

<p><label for="item_titlename">Titlename</label><br/>
<%= text_field 'item', 'titlename'  %></p>

<p><label for="item_img_url">Img url</label><br/>
<%= text_field 'item', 'img_url'  %></p>
<!--[eoform:item]-->

